services:
  nestjs-postgres-backend:
    container_name: nestjs-postgres-backend
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    env_file:
      - .env
    ports:
      - '9000:9000'
    volumes:
      - .:/app
      - /app/node_modules

