<div class='container py-5 text-center'>
  <h2 class='text-success'>Cảm ơn bạn, {{name}}!</h2>
  <p>Chúng tôi đã nhận được yêu cầu và sẽ liên hệ với bạn sớm nhất có thể.</p>
  <a href='/' class='btn btn-primary mt-3'>Quay lại trang chủ</a>
</div>